html {
    font: 62.5% 'Ubuntu', sans-serif;
}

body {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.form-control {
    padding: 0.45rem .75rem;
    font-size: 1.4rem;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.grid-table {
    padding: 0 1.6rem;
    border: 0.1rem solid #cecece;
    border-radius: 0.4rem;
}

.grid-table-header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
}

.grid-table-header-col {
    width: 20%;
}

.grid-table-body-row {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;
    border-top: 0.1rem solid #e9ecef;
}

.grid-table-body-row:hover {
    margin: 0 -1.6rem;
    padding: 1.6rem;
    background: rgba(0, 123, 255, .05);
}

.grid-table-body-row-col {
    width: 20%;
}

#root, #root > div {
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 34px;
    bottom: 0;
    left: 0;
    height: calc(100% - 34px);
    z-index: 1000;
    padding: 1.5rem 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar-and-content {
    min-height: calc(100% - 40px);
}